{% extends 'base.html' %}
{% block title %}Pssword Change{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<h1 style="width: 50%; margin: auto; color: green;">
    Password Change With Old Password !!
</h1>

    
        <form  method= 'POST' style="width: 30%; margin: auto;">
            {% csrf_token %}
            
            <!-- messages area -->
             {% if messages %}
                {% for erm in messages %}
                <h6 class="bg-danger text-white p-3 rounded-pill" style="text-align: center">
                    Error: {{erm}} 
                </h6>
                {% endfor %}
            {% endif %}
                
         <!--
            this is backend error messages
            {% if forms.non_field_errors %}
            
            {% for er in forms.non_field_errors %}
                <p class="bg-danger text-white p-3">Error: {{er}} </p>
            {% endfor %}
            
            {% endif %}
        -->

         <!-- data forms -->
            <!-- {{forms|crispy}} -->
            {% for frm in forms %}
            {{frm.label_tag}}
            {{frm}}
            {{frm.errors|striptags}}
            {% endfor %} <br>
            <button class="btn btn-warning" type="submit">Change Password</button><br><br>
            
        </form><br>

        <p style="width: 30%; margin: auto; color: blue;">
            <a class="btn btn-info" href="{% url 'profile' %}">
                Back
            </a>
        </p>
{% endblock content %}