{% extends 'base.html' %}
{% block title %}Signin{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<h1 style="width: 30%; margin: auto; color: green;">LogIn !!</h1> <br><br>

    
        <form  method= 'POST' style="width: 30%; margin: auto;" novalidate>
            {% csrf_token %}
            
         <!-- messages area -->
             {% if messages %}
                {% for erm in messages %}
                <h5 class="bg-danger text-white p-3 rounded-pill" style="text-align: center">
                    Error: {{erm}} 
                </h5>
                {% endfor %}               
            {% endif %}
                
         <!--
            this is backend error messages
            {% if forms.non_field_errors %}
            
            {% for er in forms.non_field_errors %}
                <p class="bg-danger text-white p-3">Error: {{er}} </p>
            {% endfor %}
            
            {% endif %}
        -->

         <!-- data forms -->
            <!-- {{forms|crispy}} -->
            {% for frm in forms %}
            {{frm.label_tag}}
            {{frm}}
            {{frm.errors|striptags}}
            {% endfor %} <br>
            <button class="btn btn-primary" type="submit">LogIn</button><br><br>
            <span><a href="{% url 'signup' %}">Don't Have An Account</a></span>
        </form>
{% endblock content %}